@keyframes scroll {
  0% {
    text-indent: 10%; /* Empieza con el texto completamente fuera de la vista */
  }
  100% {
    text-indent: -100%; /* Mueve el texto completamente a la izquierda para mostrarlo */
  }
}


/* Clase para animación más lenta */
.scroll-slow {
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}

/* Clase para animación más rápida */
.scroll-fast {
  white-space: nowrap;
  animation: scroll 4s linear infinite;
}


/*
.scroll-container {
  white-space: nowrap;
  overflow: hidden;
}

.scroll-horizontal {
  animation: scrollFromText 20s linear infinite;
}*/